.container {
  display: grid;
  grid-template-areas: "label_left slide label_right";
  grid-template-columns: 0.5fr 1fr 0.5fr;
  gap: 1rem;
  text-align: center;
  width: 100%;
}

.default_box {
  border: 5px solid;
  padding: 1rem;
}

.label_left {
  grid-area: label_left;
}

.label_right {
  grid-area: label_right;
}

.slide {
  grid-area: slide;
}
